#main {
    display: flex;
    flex-direction: row;
}

.vbox {
    margin: 10px;
    background-color: #f9f9f9;
}

#camera-controls {
    width: 250px;
    height: 250px;
    position: relative;
}

.ctrl-btn {
    padding: 20px;
    position: absolute;
}

#up {
    left: 90px;
}

#down {
    left: 90px;
    bottom: 20px;
}

#left {
    top: 80px;
}

#right {
    top: 80px;
    right: 0;
}

.short {
    width: 50px;
}

#fnstr {
    font-size: 10px;
}